[submodule "src/k-mean-plusplus"]
	path = src/k-mean-plusplus
	url = https://github.com/GCVCG/k-mean-plusplus.git
[submodule "tracking_models/XMem2"]
	path = tracking_models/XMem2
	url = https://github.com/guillermo2077/XMem2_image_save_fix.git
